[submodule "home/.config/awesome/obvious"]
	path = home/.config/awesome/obvious
	url = https://github.com/hoelzro/obvious.git
[submodule "home/.config/awesome/awesome-wm-widgets"]
	path = home/.config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
